// Variables

$coral: #ff6b77;
$teal: #00d5da;
$grey: #333333;

$text: $grey;


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
$open-sans: 'Open Sans', helvetica, sans-serif;

